body {
    padding-top: 50px;
}

/* .propContainer{
    display: grid;
    padding: 20px;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: auto auto auto;
    gap: 35px;
}

.propItem{
    /* display: grid;
    grid-template-columns: 1fr ;
    grid-template-rows: auto auto auto; */
    /* padding-left: 5px; 
    padding-right: 5px; 
    margin-right: 5px;
    border: solid #E2E8F0;
    border-radius: 5px; */
    /* box-shadow: 1px 1px #E2E8F0; */
/* }  */

img{
    height: 250px;
    width: 350px;
}

#ps-photo{
    /* grid-column: 1;
    grid-row: 1; */
}

#ps-details{
    /* grid-column: 1;
    grid-row: 2; */
}


#ps-title{
    /* font-weight: bold; */
    margin-left: 10px;
}

#ps-location{
    color: rgb(136, 133, 130);
    margin-left: 10px;
}

#ps-price{
    border-radius: 15px;
    background-color: blue;
    padding: 5px;   
    margin-left: 10px;
    max-width:max-content;
    color: white;
    font-size: 12px;
}

#viewPropLink{
    /* grid-column: 3/3;
    grid-row: 3; */
    background-color: rgb(11, 141, 113);
    color: white;
    padding: 10px;   
    text-align: center;
}

#indivProp{
    /* margin: 0 auto; */
    display: flex;
    justify-content: center;
}

#indivPropDetails{
    padding: 15px;
}

#p-photo{
    /* float: left; */
    height: 350px;
    padding: 15px;
}

/* #priceANDtype{
    display: inline;
} */

#p-price{
    /* float:left; */
    border-radius: 15px;
    background-color: blue;
    padding: 5px;   
    /* margin-left: 10px; */
    max-width:max-content;
    color: white;
    font-size: 12px;
    display: inline;
}

#p-type{
    border-radius: 15px;
    background-color: orange;
    padding: 5px;   
    /* margin-left: 10px; */
    max-width:max-content;
    color: white;
    font-size: 12px;
    /* clear:left; */
    display: inline;
}

#emailRealtorBtn{
    background-color: rgb(11, 141, 113);
    color: white;
    padding: 10px;   
    text-align: center;
}

#p-bedrooms{
    display: inline;
}

#p-bathrooms{
    display: inline;
}