{% extends "base.html" %}

{% block main %}
    {% if prop %}
        <div id="indivProp">
            <img id="p-photo" src="{{ url_for('getPropPhoto', filename=prop.photoFilename) }}">
            
            <div id="indivPropDetails">
                <div>
                    <p>{{ prop.title }}</p>
                </div>

                <div id="priceANDtype">
                    <div id="p-price">${{ prop.price }}</div>
                    <div id="p-type">{{ prop.ptype }}</div>
                </div>
                <br>

                <div>
                    <p>{{ prop.description }}</p>
                </div>

                <div> 
                    <p id="p-bedrooms"><img id="bedIcon" src="{{ url_for('static', filename='bedIcon.png') }}"/>{{ prop.numberOfBedrooms }}</p>
                    <p id="p-bathrooms"><img id="bathIcon" src="{{ url_for('static', filename='bathIcon.png') }}"/>{{ prop.numberOfBathrooms }}</p>
                </div>
                <br>

                <div>
                    <p><img id="locIcon" src="{{ url_for('static', filename='locationIcon.png') }}"/> {{ prop.location }}</p>
                </div>

                <div>
                    <button id="emailRealtorBtn">Email Realtor</button>
                </div>

            </div>

        </div>
    {% endif %}
{% endblock %}