{% extends "base.html" %}

{% block main %}
    <div class="login-form center-block">
        <form action="{{ url_for('property') }}" method="post" enctype="multipart/form-data">
            {{ newPropertyForm.csrf_token }}

            <div class="form-group">
                {{ newPropertyForm.title.label}}
                {{ newPropertyForm.title(class='form-control') }}
            </div>
            <div class="form-group">
                {{ newPropertyForm.description.label }}
                {{ newPropertyForm.description(class='form-control') }}
            </div>
            <div class="form-group">
                {{ newPropertyForm.numberOfBedrooms.label }}
                {{ newPropertyForm.numberOfBedrooms(class='form-control') }}
            </div>
            <div class="form-group">
                {{ newPropertyForm.numberOfBathrooms.label }}
                {{ newPropertyForm.numberOfBathrooms(class='form-control') }}
            </div>
            <div class="form-group">
                {{ newPropertyForm.price.label }}
                {{ newPropertyForm.price(class='form-control') }}
            </div>
            <div class="form-group">
                {{ newPropertyForm.pType.label }}
                {{ newPropertyForm.pType(class='form-control') }}                
            </div>
            <div class="form-group">
                {{ newPropertyForm.location.label }}
                {{ newPropertyForm.location(class='form-control') }}
            </div>
            <div class="form-group">
                <!-- {{ newPropertyForm.photo.label }} -->
                <label class="btn btn-default input-group-addon" for="photo">
                    {{ newPropertyForm.photo(id="photo") }}
                    Browse
                </label>
                <!-- {{ newPropertyForm.photo(class='form-control') }} -->
                <input type="text" class="form-control"> 
                
            </div>

            <button type="submit" name="submit" class="btn btn-primary">Add Property</button>

        </form>


    </div>
{% endblock %}