{% extends "base.html" %}

{% block main %}
<h1>Properties</h1>

<div class='propContainer'>
    {% for prop in propertiesInfo %}
        <div class = "propItem">

            <img src="{{ url_for('getPropPhoto', filename=prop.photoFilename) }}"> 
            <br>

            <div id= "ps-title">
                {{ prop.title }}
            </div>
           
            <div id="ps-location">
                {{ prop.location }}
            </div>
            <br>

            <div id="ps-price">
                {{ prop.price }}
            </div>
            <br>

            <a id="viewPropLink" href="{{ url_for('indivProperty', propertyid=prop.id) }}">
                View Property
            </a>
            

        </div>
    {% endfor %}
</div>
{% endblock %}



<!-- <div id="viewPropButton"> -->
    <!-- <a href="{{ url_for('indivProperty', propertyid=prop.id) }}">
        <button id="viewPropButton">View Property</button>
    </a> -->
    <!-- <a class="btn" href="{{ url_for('indivProperty', propertyid=prop.id) }}">View Property</a> -->
<!-- </div> -->